body{
        background-size: 100%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7DOooNsnShsw6t9hTNUI4xmY7Esb9jBctvQ&usqp=CAU);


}

.cont{
    background-color: rgba(202, 224, 5, 0.288);
    margin-left:460px;
    margin-top: 124px;
    width: 400px;
    border:solid;
    border-radius: 20px;
    padding: 12px 12px;


}
.card1{
    background-color: white;
    width:200px;
    padding:10px 10px;
    text-align: center;
    margin: 100px;
    border-radius: 4px;
    




}
.gay{
    display: flex;
}