body{
    text-align: center;
    background-color: azure;
    font-size:30px;
    margin: 0px;
}
h1{
    color:rgb(1, 101, 225);
}
p{
    font-family: Verdana;
    font-size: 20px;
}
.cont1{
    border-radius: 3%;
    width: 300px;
    margin-left: 532px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-bottom: 50px;
    padding-top: 10px;
    
}
.in{
    background-color:rgb(1, 101, 225);
    color: white;
    border: none;
    border-radius: 5px;
    width: 270px;
    height: 30px;
}
.for{
    color:rgb(1, 66, 146) ;
    font-size: 10px;
    font-weight: bold;
}

.cr{
    border: none;
    background-color: green;
    color: white;
    border-radius: 5px;
    width: 160px;
    height: 30px;

}
input{
    width: 200px;
    height: 30px;
}
.last{
    font-size: 10px;
    font-weight: bold;
}
